figure {
    --tx: 0;
    --ty: 0;
    --tz: 0;
    --deg-x: 0deg;
    --deg-y: 0deg;
    --deg-z: 0deg;
    background: rgba(90, 90, 90, 0.7);
    transform: translate3d(var(--tx), var(--ty), var(--tz)) rotateX(var(--deg-x)) rotateY(var(--deg-y)) rotateZ(var(--deg-z));
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 2px 7px 25px #2c439f;
}

.figureBox {
    --figure--x: 300px;
    --figure--y: 800px;
    --figure--z: 100px;
    width: var(--figure--x);
    height: var(--figure--y);
    position: absolute;
    transform: scale3d(0.4, 0.4, 0.4) translate3d(var(--figure--x), calc(var(--figure--y) * -0.5), calc(var(--figure--z) * -1));
    transform-style: preserve-3d;
    transform-origin: bottom;
}

.figureBox.sidewall {
    perspective: 550px;
    background-color: red;
}

figure.front, figure.back {
    width: var(--figure--x);
    height: var(--figure--y);
}

figure.front {
    --tz: calc(var(--figure--z) * 0.5);
}

figure.back {
    --tz: calc(var(--figure--z) * -0.5);
}

figure.top, figure.bottom {
    width: var(--figure--x);
    height: var(--figure--z);
    --ty: calc(var(--figure--z) * -0.5);
    --deg-x: 90deg;
}

figure.bottom {
    --ty: calc(var(--figure--z) * -0.5 + var(--figure--y));
}

figure.left, figure.right {
    width: var(--figure--z);
    height: var(--figure--y);
    --deg-y: -90deg;
    --tx: calc(var(--figure--z) * -0.5);
}

figure.left {
    --tx: calc(var(--figure--z) * -0.5);
}

figure.right {
    --tx: calc(var(--figure--z) * -0.5 + var(--figure--x));
}