
.figureBox {
    transition: transform 5.5s;
    transform: rotateY(0deg) translateX(0);
    background: rgba(90, 90, 90, 0.5);
    transform-style: preserve-3d;
}

.figureBox {
    position: absolute;
    width: var(--figure--width);
    height: var(--figure--height);
    --figure--height: 0px;
    --figure--size: 0px;
    --figure--width: 0px;
}

.figureBox.sidewall {
    transform: rotateY(90deg) translateZ(var(--translate-z)) translateX(calc(var(--furniture--size) * -.5));
    --translate-z: calc(var(--furniture--size) * -.5);
}

.figureBox.capture,
.figureBox.shelves {
    transform: rotateX(90deg) translateY(var(--translate-y)) translateZ(var(--translate-z));
    --translate-y: calc(var(--furniture--size) * .5);
    --translate-z: 10px;
}

.figureBox.shelves {
    --translate-z: calc(var(--furniture--height) * -.5);
}

.figureBox.capture {
    --translate-z: calc(var(--furniture--size) * .5 - 10px);
}

.figureBox.door {
    transform: translateX(var(--translate-x)) translateZ(var(--translate-z));
    --translate-x: 0;
    --translate-z: calc(var(--furniture--size));
}

.figureBox.door:hover {
    transform: rotateY(90deg) translateX(var(--translate-x)) translateZ(var(--translate-z));
    --translate-x: 0;
    --translate-z: calc(var(--furniture--size));
}

.figureBox.right {
    --translate-z: calc(var(--furniture--width) - var(--furniture--size) * .5);
}

.figureBox.bottom {
    --translate-z: calc(var(--furniture--height) * -1 + var(--furniture--size) * .5);
}

figure {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #dddddd;
    box-shadow: inset 5px 5px 20px #182019;
    backface-visibility: hidden;
}

figure.front {
    transform: translateZ(var(--translate-z));
    --translate-z: calc(var(--figure--size));
}

figure.back {
    transform: translateZ(0);
}

figure.top {
    height: var(--figure--size);
    transform: rotateX(90deg) translateY(var(--translate-y)) translateZ(var(--translate-z));
    --translate-y: calc(var(--figure--size) * .5);
    --translate-z: calc(var(--figure--size) * .5);
}

figure.bottom {
    height: var(--figure--size);
    transform: rotateX(-90deg) translateY(var(--translate-y)) translateZ(var(--translate-z));
    --translate-y: calc(var(--figure--size) * -.5);
    --translate-z: calc(var(--figure--height) - var(--figure--size) * .5);
}

figure.left {
    width: var(--figure--size);
    transform: rotateY(-90deg) translateX(var(--translate-x)) translateZ(var(--translate-y));
    --translate-x: calc(var(--figure--size) * .5);
    --translate-y: calc(var(--figure--size) * .5);
}

figure.right {
    width: var(--figure--size);
    transform: rotateY(90deg) translateX(var(--translate-x)) translateZ(var(--translate-z));
    --translate-x: calc(var(--figure--size) * -.5);
    --translate-z: calc(var(--figure--width) - var(--figure--size) * .5);
}
