:root {
    --furniture--width: 0px;
    --furniture--height: 0px;
    --furniture--size: 0px;
}

.model3d-content {
    width: var(--furniture--width);
    height: var(--furniture--height);
    background: linear-gradient(skyblue, khaki);
    perspective: 2100px;
    perspective-origin: 50% 50%;
    transform: scale3d(.5, .5, .5) translateX(-50%) translateY(-50%);
}

.model3d {
    /*bottom: 0px;*/
    position: absolute;
    transform: scale3d(.5, .5, .5) translateX(-50%) translateY(-50%);
}

#scene3d:hover {
    perspective-origin: -150% 40%;
}