
#model3d{
  position: absolute;
  margin: 0;
  height: 550px;
  width: 800px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  outline: 1px solid green;
}

.furniture {
  position: absolute;
  -webkit-transform: scale3D(0.4,0.4,0.4) translate3d(-200px, -100px,-250px);
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: bottom left;
  transform: scale3D(0.4,0.4,0.4) translate3d(-200px, -100px,-250px);
  transform-style: preserve-3d;
  transform-origin: bottom left;
  /* outline: 1px solid blue; */
  bottom: 0px;
  left: 50%;
}
.furniture {
  bottom: initial;
  top: 0;
  transform-origin: left top 0;
  -webkit-transform-origin: top left;
}
.furniture {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: scale3d(0.4, 0.4, 0.4) translate3d(-200px, -100px, -250px);
  /*transform-origin: left bottom 0;*/
  transform-style: preserve-3d;
}
figure, .formatka{
  /*background-image: url("../download.png");*/
  background-color: #ddd;
  /*border: 1px solid;*/
}
.formatka {
  position: absolute;
  outline: 1px solid blue;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0 0;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  /*background-color: #fff;*/
  background-repeat: repeat;
  pointer-events: initial;
  background-size: 900px 900px;
  /* backface-visibility: hidden; */
}
#grupa-wieniec {
  transform-style: preserve-3d;
}