*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*#view_model{
  height: 650px;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  width: 800px;
}*/
#view_model>div {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;
  width: 800px;
  height: 650px;
}
#view_model {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  overflow: hidden;
  -webkit-transition: -webkit-perspective 2s linear;
}